* {
    box-sizing: border-box;
    font-family: "baloo_paaji_2regular";
}

@font-face {
    font-family: "baloo_paaji_2regular";
    src: url("../src/components/assets/fonts/baloopaaji2-regular-webfont.woff2")
            format("woff2"),
        url("../src/components/assets/fonts/baloopaaji2-regular-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}
